<!-- P Á G I N A    M O D A L  -->
<div id="modal" class="hide">
    <!--O modal vai cobrir a tela toda.-->
    <div class="content">
        <!-- O content irá expor os conteúdos.-->
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <!-- Se não colocar o # no href o link vai dar um reload na página. -->
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                        <img src="/assets/search.svg" alt="Buscar">
                    </button>
            </div>
        </form>
    </div>
</div>