<!-- P Á G I N A    M O D A L  -->
<div id="modal" class="point">
    <!--O modal vai cobrir a tela toda.-->
    <div class="content">
        <!-- O content irá expor os conteúdos.-->
        <img src="/assets/check.svg" alt="Cadastrado com sucesso">
        <h1>Cadastro concluído!</h1>        
    </div>
</div>

<script>
    // delay automático para redirecionamento para a página principal.

    
    setTimeout(() => {
        window.location = "/";  // vai fazer um  redirecionamento para a "barra" depois de 2 segundos.        
    }, 2000)


</script>